.grid {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  height: auto;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.file-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
  width: 70%;
  background-color: #005e75;
  border-radius: 8px;
  padding: 4px 8px;
  color: #e6fbff;

  span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
  }

  svg {
    font-size: 1.5rem;
  }
}

.button {
  background-color: #cdf7ff;
  border: none;
  border-radius: 0.4rem;
  font-size: 1rem;
  padding: 15px 30px;
  cursor: pointer;
  width: 140px;

  &:hover {
    background-color: rgba(#cdf7ff, 0.8);
  }

  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;

    &:hover {
      background-color: #cdf7ff;
    }
  }
}
