.grid {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  height: auto;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.file-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
  width: 70%;
  background-color: #005e75;
  border-radius: 8px;
  padding: 4px 8px;
  color: white;

  span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
  }

  svg {
    font-size: 1.5rem;
  }
}
