.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background: none;
  font-size: 1.1rem;
  transition: transform 0.02s linear;
  margin: 0;
  padding: 0;
  color: #003846;

  svg {
    font-size: 1.2rem;
  }
}
