.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2.7rem;

  Button {
    &:active {
      transform: scale(0.8);
    }
  }
}

.flex-group {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  span {
    font-size: 1.2rem;
    font-weight: 600;
  }
}
