.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  padding: 0 2.7rem;
}

.flex-group {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
