.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  margin-top: -25px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 50px;
  padding-bottom: 50px;
  width: 360px;

  p {
    margin: 0;
    padding: 0;
  }

  h2 {
    align-self: center;
    border-bottom: solid rgba(#003846, 0.4) 2px;
    padding-bottom: 5px;
  }
}
