.select {
  padding: 4px 8px;
  background: #d9f1f5;
  border: 2px solid #003846;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: box-shadow 0.1s;
  color: #003846;
  cursor: pointer;
}

.option {
  cursor: pointer;
}
