.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30rem;
}

.drop-zone {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 12rem;
  cursor: pointer;
  color: #003846;
  background-color: #cdf7ff;
  border: dashed #003846 0.1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  gap: 1rem;

  &:hover {
    background-color: rgba(#cdf7ff, 0.8);
  }

  p {
    padding: 0;
    margin: 0;
  }

  * {
    pointer-events: none;
  }
}

.upload-icon {
  font-size: 2.5rem;
}

.file-types {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1rem;
  opacity: 0.8;
}

.drop-zone-dragging {
  background-color: rgba(#cdf7ff, 0.8);
}
