.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 540px;
}

.drop-zone {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 220px;
  cursor: pointer;
  color: #003846;
  background-color: transparent;
  border: 2px dashed #003846;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  gap: 1rem;

  &:hover {
    background-color: #b0d6dd;
  }

  p {
    padding: 0;
    margin: 0;
  }

  * {
    pointer-events: none;
  }
}

.upload-icon {
  font-size: 2.5rem;
}

.file-types {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1rem;
  opacity: 0.8;
}

.drop-zone-dragging {
  background-color: #b0d6dd;
}
